@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.costum-list {
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.list:hover {
  color: #dab88a;
  background: transparent;
  box-shadow: none;
}
.list:before,
.list:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #dab88a;
  transition: 400ms ease all;
}
.list:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.list:hover:after {
  width: 100%;
  transition: 400ms ease all;
}

.slick-slide > div {
  margin: 0 10px;
}

.category-card {
  background-image: url("./assets/images/blue_view.jpg");
}

.opacity-img:hover img {
  opacity: 0.9;
  transform: scale(0.9);
  transition: opacity 1s, transform 250ms;
}
